{% extends 'blog/base.html' %}
{% block name %}Delete a Blog Post{% endblock %}
{% block content %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-1">Delete the Post</legend>
    </fieldset>
    </br></br>
    <div class="content-section">
        <form method="Post">
            {% csrf_token %}
            <h2>Are you sure? <br/></h2> Do You want <h1>{{post.title}}</h1><h2>post be deleted forever?</h2><br/><br/><br/>
            
            <button class="btn btn-outline-danger">Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'post' post.pk %}">Cancel</a>
            
    </div>

{% endblock content %}