{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.picture.url }}">       
    <div class="media-body">   
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ post.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"P(e) dS E-W, D(w), o-z, U" }}</small>
      </div>
      <h2 class="article-title">{{ object.title }}</h2> 
      {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm " href="{% url 'update-post' object.pk %}">Update</href>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-post' post.id %}">Delete</a>
        </div>
      {% endif %}
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
